<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ashok IT - Payment Gateway</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

	<div class="container mt-4">
		<h2>Spring Boot with Razorpay Integration</h2>
			<table>
				<tr>
					<td>
						Enter Name :
					</td>
					<td>
						<input type="name" name="name" id="name" class="form-control" required />
					</td>
				</tr>
				<tr>
					<td>
						Enter Email :
					</td>
					<td>
						<input type="email" name="email" id="email" class="form-control" required/>
					</td>
				</tr>
				<tr>
					<td>
						Phone Number :
					</td>
					<td>
						<input type="number" name="phno" id="phno" class="form-control" required/>
					</td>
				</tr>
				<tr>
					<td>
						Select Course :
					</td>
					<td>
						<select class="form-select" name="course" id="course" aria-label="Large select example" required>
							<option selected>-Select Course-</option>
							<option value="java">Java</option>
							<option value="python">Python</option>
							<option value="devops">DevOps</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Amount :
					</td>
					<td>
						<input type="number" name="amount" id="amount" class="form-control" required/>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><button id="rzp-button1" class="btn btn-primary">Proceed To Pay</button></td>

				</tr>
			</table>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>

	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script>
		async function fetchOrder() {
			console.log("create order call happing");
			const response = await fetch('http://localhost:8080/create-order', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					name: document.getElementById("name").value,
					phno: document.getElementById("phno").value,
					course: document.getElementById("course").value,
					amount: document.getElementById("amount").value,
					currency: 'INR',
					email: document.getElementById("email").value
				})
			});

			const order = await response.json();
			console.log("create call success")
			console.log(order);
			return order;
		}

		document.getElementById('rzp-button1').onclick = async function (e) {
			const order = await fetchOrder();
			console.log(order);

			var options = {
				"key": "rzp_test_M8euIoyO42vv2E",
				"amount": order.amount,
				"currency": "INR",
				"name": "Ashok IT",
				"description": "Test Transaction",
				"order_id": order.razorPayOrderId,
				"receipt": order.receipt,
				"callback_url": "http://localhost:8080/payment-callback",
				"prefill": {
					"name": order.name,
					"email": order.email,
					"contact": order.phno
				},
				"theme": {
					"color": "#3399cc"
				}
			};
			var rzp1 = new Razorpay(options);
			rzp1.open();
			e.preventDefault();
		}
	</script>
</body>

</html>